.reg {
  padding: 68px 0 181px;

  @media screen and (max-width: 769px) {
    padding: 30px 0 53px;
  }

  &__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.96;
    text-align: center;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    width: 327px;
    padding: 16px 0;
    margin-bottom: 95px;

    @media screen and (max-width: 769px) {
      margin-bottom: 53px;
    }

    @media screen and (max-width: 375px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__enter {
    display: flex;
    align-items: center;
    gap: 0 15px;
    justify-content: space-between;
    padding: 24px 36px;
    width: 446px;
    margin: 0 auto;
    background: linear-gradient(331deg, #0b3f37 0%, #cb8d62 96.96%);

    @media screen and (max-width: 550px) {
      width: 100%;
    }

    @media screen and (max-width: 400px) {
      padding: 24px;
    }

    & > span {
      font-size: 18px;
      line-height: 0.96;
      color: #fff;

      @media screen and (max-width: 320px) {
        font-size: 16px;
      }

      &:first-child {
        font-weight: 200;
      }

      &:last-child {
        font-weight: 600;
      }
    }
  }
}
