.reg {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding: 32px 36px;
    box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    width: 446px;
    margin: 0 auto;

    @media screen and (max-width: 550px) {
      width: 100%;
    }

    @media screen and (max-width: 400px) {
      padding: 30px 20px;
      gap: 19px 0;
    }

    & > label {
      display: block;

      & > input {
        font-family: inherit;
        height: 50px;
        width: 100%;
        border: 1px solid #a1a1a1;
        font-size: 18px;
        line-height: 0.96;
        padding: 16px 20px;

        &::placeholder {
          font-family: inherit;
          color: #a1a1a1;
          font-size: 18px;
        }
      }
    }
  }

  &__title {
    font-family: var(--lh-font);
    font-size: 35px;
    text-align: center;

    @media screen and (max-width: 375px) {
      font-size: 30px;
    }

    @media screen and (max-width: 375px) {
      font-size: 24px;
    }
  }

  &__btn {
    width: 100%;
  }
}
