.user {
  padding: 72px 0 80px;

  &__title {
    font-size: 60px;
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 51px;
    line-height: 1.06;
  }

  &__content {
    display: flex;
    gap: 150px;
  }

  &__bar {
    width: 326px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    top: 30px;
    align-self: flex-start;
  }

  .user__btn {
    background: linear-gradient(324deg, #0b3f37 0%, #cb8d62 96.96%);
    color: #fff;
    padding: 12px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 27px;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.4s;
    }

    &-active {
      background: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);

      &:hover {
        transform: scale(1);
      }
    }

    &-exit {
      text-align: left;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
    }

    &-change {
        display: flex;
        gap: 0 6px;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        span {
            color: #A1A1A1;
        }
    }
  }

  &__icon {
    height: 25px;
    width: auto;
  }

  &__main {
    height: 100vh;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: 0 22px;
  }

  &__img {
    height: 159px;
    width: 159px;
    border-radius: 50%;
  }

  &__greetings {
    display: flex;
    flex-direction: column;
    gap: 27px 0;

    h4 {
      font-weight: 900;
      font-size: 27px;
    }
  }

  &__message {
    position: fixed;
    right: -1000px;
    top: 35vh;
    padding: 19px 13px;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: right 1s;
    z-index: 1000;
  
  &-show {
    right: 0;
    transition: right 1s;
  }
  
    
    &-success {
        background: #029281;
    }

    &-failure {
        background: #920202;
    }
  }
}
