.article {
  &__content {
    line-height: 1.32;
    max-width: 1207px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    @media screen and (max-width: 769px) {
      gap: 10px 0;
    }

    p {
      font-size: 16px;
    }

    h3 {
      padding-top: 31px;
      font-weight: 800;
      font-size: 24px;
      text-transform: uppercase;

      @media screen and (max-width: 769px) {
        padding-top: 25px;
      }

      @media screen and (max-width: 375px) {
        font-size: 20px;
        padding-top: 0;
      }
    }

    h5 {
      font-weight: 600;
      font-size: 20px;
      padding-top: 11px;

      @media screen and (max-width: 769px) {
        padding-top: 8px;
      }

      @media screen and (max-width: 375px) {
        padding-top: 0;
        font-size: 18px;
      }
    }

    section {
      max-width: 1082px;
      display: flex;
      flex-direction: column;
      gap: 20px 0;

      @media screen and (max-width: 769px) {
        gap: 10px 0;
      }
    }
  }

  &__list {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.8;
    list-style-type: revert;
    margin-left: 15px;

    & > li::marker {
      font-size: 8px;
    }
  }
}
