@import "../UI/Mixins.module.scss";

.enter {
  &__container {
    margin: 0;
  }

  &__link {
    font-weight: 600;
    font-size: 18px;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    padding: 17px;
    width: 327px;
    margin-top: 68px;

    @media (max-width: 768px) {
      margin-top: 30px;
    }

    @media (max-width: 375px) {
      margin-top: 20px;
      width: 290px;
    }

    @media (max-width: 300px) {
      width: 250px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 95px 0 213px;

    @media (max-width: 768px) {
      padding: 53px 0 66px;
    }
  }

  &__button {
    display: flex;
    gap: 0 15px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(331deg, #0b3f37 0%, #cb8d62 96.96%);
    padding: 24px 36px;
    width: 446px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;

    @media (max-width: 550px) {
      width: 346px;
    }

    @media (max-width: 375px) {
      width: 290px;
      font-size: 16px;
      padding: 20px 25px;
    }

    &-nav {
      font-weight: 600;
    }
  }
}

.form {
  padding: 42px 35px 31px;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 0;
  width: 446px;
  position: relative;

  @media (max-width: 550px) {
    padding: 28px 20px 31px;
    gap: 20px 0;
    width: 346px;
  }

  @media (max-width: 375px) {
    width: 290px;
  }

  & > div {
    width: 100%;
  }

  &__title {
    font-size: 35px;
    font-family: var(--lh-font);
    text-align: center;

    @media (max-width: 550px) {
      font-size: 28px;
    }

    @media (max-width: 375px) {
      font-size: 24px;
    }
  }

  &__input {
    padding: 17px 20px;
    width: 100%;
    height: 50px;
    font-weight: 100;
    font-size: 18px;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;

    &-wrong {
      align-self: start;
      font-size: 13px;
      margin: -20px 0 0;
      color: #f84147;
    }
  }

  &__password {
    position: relative;
  }

  &__passwordBtn {
    position: absolute;
    top: 30%;
    right: 17px;

    &-show:before {
      position: absolute;

      content: "";
      display: block;
      background-color: #a1a1a1;
      width: 25px;
      height: 1px;
      transform: rotate(30deg);
      top: 40%;
    }
  }

  &__loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  &__forgot {
    @include gradient-back;
    font-weight: 300;
    font-size: 18px;
    text-decoration: underline;
    position: relative;
    z-index: 2;
    transition: all 0.2s;

    @media (max-width: 375px) {
      font-weight: 600;
    }

    &:hover {
      transform: scale(1.05);
      transition: all 0.2s;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 0.75px;
      background: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
      bottom: 0;
    }
  }

  &__btn {
    width: 100%;
  }
}

.form.form__loading .form__input,
.form.form__loading .form__forgot,
.form.form__loading .form__btn {
  opacity: 0.5;
}

.form.form__loading .loader {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
