.order {
  padding-top: 105px;
  padding-bottom: 208px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & > img {
      display: block;
      padding-bottom: 17px;
    }
  }

  &__title {
    font-family: var(--lh-font);
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 37px;
  }

  &__text {
    font-size: 27px;
    font-weight: 500;
    max-width: 346px;
    padding-bottom: 37px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}
