.benefit {
  background: url("../../assets/benefit/benefitBack.jpg") center/cover no-repeat;
  height: 490px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  color: #fff;

  @media (max-width: 450px) {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px 0;

    @media (max-width: 940px) {
      gap: 38px 0;
    }

    @media (max-width: 769px) {
      gap: 28px 0;
    }
  }

  &__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 140px;
    position: relative;
    z-index: 5;

    @media (max-width: 1080px) {
      font-size: 120px;
    }

    @media (max-width: 840px) {
      font-size: 110px;
    }

    @media (max-width: 769px) {
      font-size: 100px;
    }

    @media (max-width: 660px) {
      font-size: 80px;
    }
  }

  &__subtitle {
    font-size: 35px;
    max-width: 540px;
    position: relative;
    z-index: 5;

    @media (max-width: 1080px) {
      max-width: 500px;
    }

    @media (max-width: 1080px) {
      font-size: 30px;
      max-width: 440px;
    }

    @media (max-width: 940px) {
      font-size: 25px;
    }

    @media (max-width: 769px) {
      font-size: 20px;
      max-width: 310px;
    }

    @media (max-width: 660px) {
      font-size: 18px;
      max-width: 250px;
    }
  }

  &__btn {
    position: relative;
    z-index: 4;
  }

  &__img {
    position: absolute;
    left: 40%;
    top: -206px;
    z-index: 1;

    @media (max-width: 840px) {
      left: 35%;
    }

    @media (max-width: 750px) {
      left: 25%;
    }

    @media (max-width: 660px) {
      left: 20%;
    }

    @media (max-width: 600px) {
      left: 13%;
    }
  }

  &__label {
    position: absolute;
    right: -40px;
    bottom: -20px;
    font-size: 140px;
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    text-align: right;
    max-width: 686px;
    font-weight: 300;
    z-index: 2;
    line-height: 0.85;

    @media (max-width: 1430px) {
      font-size: 120px;
      right: -30px;
    }

    @media (max-width: 1080px) {
      font-size: 100px;
      right: -20px;
      max-width: 586px;
    }

    @media (max-width: 895px) {
      font-size: 90px;
      max-width: 490px;
    }

    @media (max-width: 800px) {
      font-size: 80px;
      max-width: 420px;
      right: -10px;
    }

    @media (max-width: 660px) {
      font-size: 80px;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }
}
