.order {
  &__data {
    width: 66%;

    @media screen and (max-width: 1030px) {
      width: 100%;
    }
  }

  &__list {
    counter-reset: data-counter;

    & > li {
      counter-increment: data-counter;

      & > div:first-child {
        font-weight: 600;
        font-size: 27px;

        &::before {
          content: counter(data-counter);
          font-weight: 800;
          font-size: 30px;
          color: #fff;
          padding: 2px 12px;
          margin-right: 22px;
          background: linear-gradient(324deg, #0b3f37 0%, #cb8d62 96.96%);
        }
      }
    }
  }
}
