.why-we {
  background: url("../../assets/mainSlidersBack.png") center/cover no-repeat;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 327px);
    gap: 34px 28px;
  }

  &__img {
    width: 76px;
    height: 76px;
    display: block;
    margin-bottom: 24px;
  }

  &__title {
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 20px;
    line-height: 0.96;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.34;
    padding-bottom: 15px;
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.34;
    color: transparent;
    background: linear-gradient(124deg, #5e3928 0%, #e4a16f 91.15%);
    background-clip: text;
    display: flex;
    gap: 0 7px;
    align-items: center;
  }

  &__chevron {
    display: block;
    transition: all 0.3s;
  }

  &__chevron-up {
    transform: rotate(180deg);
    transition: all 0.3s;
  }
}
