.cart {
  &__products {
    width: 66%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  &__headings {
    padding-bottom: 14px;
    border-bottom: 1px solid #e6e8e7;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.32;
    color: #a1a1a1;
    text-align: left;
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;

    & > div:first-child {
      width: 58.4%;
    }

    & > div:nth-child(2) {
      width: 20.5%;
    }

    & > div:last-child {
      width: 24.1%;
    }

    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  &__body {
    padding-top: 20px;

    & > div {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e8e7;
    }

    & > div:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    @media screen and (max-width: 550px) {
      padding-top: 0;

      & > div:last-child {
        padding-bottom: 21px;
        border-bottom: 1px solid #e6e8e7;
      }
    }
  }
}
