.cart {
  &__product {
    display: flex;
    gap: 0 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & > div:first-child {
      display: flex;
      gap: 0 33px;
      align-items: center;
      width: 58.4%;

      img {
        width: 90px;
        height: 99px;
        object-fit: cover;
        display: block;

        @media screen and (max-width: 550px) {
          margin-top: 18px;
        }
      }

      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.32;
        text-transform: uppercase;
        max-width: 268px;

        @media screen and (max-width: 375px) {
          font-size: 16px;
        }
      }

      @media screen and (max-width: 550px) {
        width: 100%;
        gap: 25px;
      }

      @media screen and (max-width: 400px) {
        gap: 15px;
      }
    }

    & > span:first-of-type {
      width: 20.5%;
    }

    & > span:last-of-type {
      width: 24.1%;
    }

    @media screen and (max-width: 550px) {
      flex-wrap: wrap;
      gap: 22px 10px;
      justify-content: space-between;

      & > span {
        width: fit-content !important;
      }
    }
  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
