.story {
  background-image: url("../../assets/ABOUT/storyBack.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 74px 0;
  position: relative;

  @media (max-width: 769px) {
    background-color: #000000;
    background-image: none;
  }

  @media (max-width: 550px) {
    padding: 60px 0;
  }

  @media (max-width: 375px) {
    padding: 40px 0;
  }

  h2 {
    color: #fff;

    @media (max-width: 375px) {
      padding-bottom: 22px;
    }
  }

  &__inner {
    display: flex;
    gap: 0 31px;
    justify-content: center;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    div {
      width: 445px;
      position: relative;
      z-index: 100;

      @media (max-width: 550px) {
        width: 100%;
      }
    }

    p {
      font-weight: 200;
      font-size: 16px;
      line-height: 1.32;
      color: #fff;

      &:not(:last-child) {
        padding-bottom: 25px;

        @media (max-width: 769px) {
          padding-bottom: 20px;
        }
      }
    }

    div:first-child p:last-child {
        padding-bottom: 20px;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    font-family: var(--lh-font);
    font-size: 155px;
    line-height: 0.75;
    max-width: 769px;
    color: #fff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 0;

    @media (max-width: 1300px) {
      display: none;
    }
  }
}
