@import "../UI/Mixins.module.scss";

.intro {
  background-image: url("../../assets/ABOUT/back.jpg"),
    url("../../assets//ABOUT/backCircles.png");
  background-position: left top, center center;
  background-size: 300px 300px, cover;
  background-repeat: repeat, no-repeat;
  padding-top: 39px;
  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 51px;

    @media (max-width: 850px) {
      padding-top: 99px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: -30px;
    }

    @media (max-width: 500px) {
      margin-bottom: 0;
      padding-top: 60px;
    }

    @media (max-width: 375px) {
      padding-top: 40px;
    }

    & > img {
      max-width: 702px;
      height: auto;

      @media (max-width: 850px) {
        position: relative;
        width: 504px;
        left: 50%;
        top: -30px;
      }

      @media (max-width: 768px) {
        width: 404px;
      }

      @media (max-width: 500px) {
        top: 0;
        width: 354px;
      }

      @media (max-width: 400px) {
        padding-top: 32px;
        left: 5%;
      }
    }
  }

  &__path {
    font-size: 18px;
    line-height: 0.96;
    color: #031412;
    display: flex;
    gap: 0 3px;

    span {
      font-weight: 800;
    }

    @media (max-width: 375px) {
      font-size: 16px;
    }
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__title {
    font-family: var(--lh-font);
    font-size: 100px;
    line-height: 0.75;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #031412;
    width: 623px;

    @media (max-width: 1430px) {
      font-size: 90px;
    }

    @media (max-width: 1240px) {
      font-size: 80px;
    }

    @media (max-width: 1080px) {
      font-size: 75px;
      width: 573px;
    }

    @media (max-width: 940px) {
      font-size: 70px;
      width: 563px;
    }

    @media (max-width: 850px) {
      font-size: 65px;
    }

    @media (max-width: 768px) {
      font-size: 60px;
      width: 435px;
      padding-bottom: 29px;
      margin-bottom: 40px;
    }

    @media (max-width: 680px) {
      font-size: 50px;
    }

    @media (max-width: 500px) {
      font-size: 42px;
      width: 100%;
    }

    @media (max-width: 375px) {
      font-size: 35px;
      padding-bottom: 21px;
      margin-bottom: 31px;
      width: 155px;
    }

    @media (max-width: 325px) {
      font-size: 30px;
    }
  }

  &__quote {
    & > blockquote {
      font-style: italic;
      font-weight: 300;
      font-size: 50px;
      max-width: 604px;
      padding-left: 74px;
      position: relative;
      line-height: 0.96;

      &::before,
      &::after {
        content: url("../../assets/ABOUT/quote.png");
        position: absolute;
      }

      &::before {
        left: 0;
        top: -15px;
      }

      &::after {
        right: 0;
        bottom: -10px;
      }

      @media (max-width: 1080px) {
        font-size: 40px;

        &::before,
        &::after {
          width: 29px;
          height: 29px;
        }

        &::after {
          right: 65px;
        }
      }

      @media (max-width: 850px) {
        max-width: 504px;

        &::after {
          right: 5px;
        }
      }

      @media (max-width: 768px) {
        padding-left: 81px;
        font-size: 30px;
        max-width: 437px;

        &::before,
        &::after {
          width: 34px;
          height: 34px;
        }
      }

      @media (max-width: 500px) {
        font-size: 24px;
        padding-left: 62px;
        max-width: 337px;
      }

      @media (max-width: 375px) {
        font-size: 20px;
        line-height: 1.08;
        padding-left: 52px;
        max-width: 269px;

        &::after {
          right: -5px;
        }
      }

      @media (max-width: 310px) {
        font-size: 16px;
        padding-left: 42px;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  &__author {
    display: flex;
    gap: 0 40px;
    align-items: center;
    padding-top: 35px;

    & > span {
      @include gradient-back;
      max-width: 165px;
      font-weight: 900;
      font-size: 30px;
      line-height: 0.96;
    }

    @media (max-width: 768px) {
      gap: 0 20px;
      padding-top: 56px;

      & > span {
        font-size: 18px;
        max-width: 65px;
      }

      & > img {
        width: 145px;
        height: auto;
      }
    }

    @media (max-width: 375px) {
      padding-top: 36px;
      gap: 0 10px;

      & > span {
        font-size: 16px;
        max-width: 60px;
      }

      & > img {
        width: 89px;
      }
    }
  }
}
