.comments {
  &__slider {
    & > div > div {
      gap: 20px;
    }
    & > div > div > div {
      display: grid;
      grid-template-rows: 1fr; // в будь-якому випадку займає всю висоту батьківського контейнера
    }
  }
}
