.comment {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 21px 40px 18px 30px;
  min-height: 332px;
  display: flex;
  flex-direction: column;
  gap: 18px 0;

  &__avatar {
    width: 63px;
    height: 63px;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  &__name {
    font-weight: 600;
    font-size: 25px;
    line-height: 0.96;
  }

  &__content {
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.34;
  }

  &__date {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.34;
    margin-top: auto;
  }
}
