.cart {
  padding: 32px 0 80px;

  @media screen and (max-width: 769px) {
    padding: 30px 0 80px;
  }

  @media screen and (max-width: 320px) {
    padding: 30px 0;
  }

  &__title {
    font-family: var(--lh-font);
    font-size: 50px;
    padding: 24px 0 27px;

    @media screen and (max-width: 769px) {
      font-size: 40px;
      padding: 29px 0 21px;
    }

    @media screen and (max-width: 640px) {
      font-size: 36px;
    }

    @media screen and (max-width: 550px) {
      font-size: 30px;
    }

    @media screen and (max-width: 400px) {
      font-size: 24px;
    }

    @media screen and (max-width: 375px) {
      padding: 27px 0 9px;
      font-size: 20px;
    }
  }

  &__link {
    display: block;
    margin-top: 31px;
    padding: 16px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    width: 327px;
    transition: 0.4s;

    @media screen and (max-width: 769px) {
      margin: 30px auto 0;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }

    &:hover {
      color: #6f6f6f;
      border: 1px solid #6f6f6f;
      transition: 0.4s;
    }
  }
}
