.header {
  position: relative;
  width: 100%;
  background: url("../../assets/navBack.jpg") center/cover no-repeat;
  z-index: 1000;
  height: auto;
  transition: all 1s;
  overflow: hidden;

  &-main {
    position: absolute;
    background: transparent;
    transition: all 1s;
  }

  &-auth {
    display: flex;
    justify-content: center;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 0 77px;
    padding-top: 44px;
    padding-bottom: 44px;
    position: relative;

    @media (max-width: 1030px) {
      flex-direction: column;
      gap: 40px 0;
    }

    @media (max-width: 785px) {
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 30px 0;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (max-width: 580px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.logo {
  @media (max-width: 1030px) {
    align-self: flex-start;
  }

  @media (max-width: 425px) {
    img {
      width: 115px;
      height: 31px;
    }
  }

  @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
    img {
      width: 115px;
      height: 31px;
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 0 50px;
  color: #fff;
  font-size: 16px;

  @media (max-width: 580px) {
    background: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    gap: 35px 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -200%;
    transition: all 0.3s;
    padding: 50px 18px 50px;
    overflow-y: auto;

    &.active {
      top: 0;
      transition: all 0.3s;
    }
  }

  @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
    background: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    gap: 35px 0;
    font-size: 25px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: -200%;
    transition: all 0.3s;
    padding: 250px 18px 50px;
    overflow-y: auto;

    &.active {
      top: 0;
      transition: all 0.3s;
    }
  }
}

.link {
  font-weight: 400;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
    background-clip: text;
    color: transparent;
    position: relative;
    transition: all 0.3s;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
    width: 0;
    height: 1px;
    transition: width 0.3s;
  }

  &:hover:after {
    width: 100%;
    transition: width 0.3s;
  }
}

.info__list {
  display: flex;
  gap: 0 20px;
  align-items: flex-end;
  position: absolute;
  right: 50px;

  @media (max-width: 450px) {
    gap: 0 14px;
  }

  li {
    background-color: #fff;
    padding: 41px 11px 14px;
    margin-top: -46px;
    cursor: pointer;
    transition: transform 0.3s;

    &:last-child {
      position: relative;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    @media (max-width: 785px) {
      margin-top: -31px;
    }

    @media (max-width: 580px) {
      &:first-child {
        display: none;
      }
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      margin-top: -31px;
      &:first-child {
        display: none;
      }
    }

    @media (max-width: 450px) {
      padding: 53px 8px 9px;
      margin-top: -49px;
    }
  }

  @media (max-width: 580px) {
    justify-content: center;
    left: 45%;
    transition: left 0.3s;
    &.active {
      left: 4%;
      right: 0;
      transition: left 0.3s;

      li:first-child {
        display: block;
      }
    }
  }

  @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
    justify-content: center;
    left: 45%;
    transition: left 0.3s;
    &.active {
      left: 4%;
      right: 0;
      transition: left 0.3s;

      li:first-child {
        display: block;
      }
    }
  }
}

.info__img {
  width: 30px;
  height: 30px;

  @media (max-width: 450px) {
    width: 20px;
    height: 20px;
  }

  &-animated {
    animation: cart 0.5s linear 1;
  }
}

.menu {
  width: 180px;
  height: 35px;
  margin-right: -150px;
  background: linear-gradient(210deg, #5e3928 0%, #e4a16f 91.15%);
  position: relative;
  display: none;

  @media (max-width: 580px) {
    display: block;
  }

  @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
    display: block;
  }

  &.active {
    background: transparent;
    margin-right: -140px;
    transition: all 0.3s;

    span {
      &:nth-child(2) {
        display: none;
      }

      &:before {
        display: none;
      }

      &:first-child {
        left: 0;
        width: 27px;
        transform: rotate(45deg);
        top: 50%;
        transition: all 0.3s;
      }

      &:last-child {
        left: 0;
        width: 27px;
        transform: rotate(-45deg);
        top: 50%;
        transition: all 0.3s;
      }
    }
  }

  span {
    height: 3.5px;
    width: 15.3px;
    background: #fff;
    position: absolute;
    left: 14.5px;
    border-radius: 10px;

    &:first-child {
      top: 10.38px;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      bottom: 10.38px;
    }

    &::before {
      content: "";
      display: block;
      background: #fff;
      position: absolute;
      width: 3.5px;
      height: 3.5px;
      left: -5px;
      border-radius: 50%;
    }
  }
}

.info__amount {
  position: absolute;
  font-weight: 900;
  font-size: 25px;
  color: #e4a16f;
  top: 15px;
  left: 18px;

  @media screen and (max-width: 450px) {
    top: 30px;
    left: 12px;
    font-size: 20px;
  }
}

.lock {
  overflow: hidden;
}

@keyframes cart {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
