.production {
  overflow-x: hidden;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 491px);
    gap: 30px 31px;

    @media (max-width: 1200px) {
      grid-template-rows: repeat(2, 390px);
    }

    @media (max-width: 1050px) {
      grid-template-rows: repeat(2, 340px);
      gap: 25px;
    }

    @media (max-width: 940px) {
      grid-template-rows: repeat(2, 290px);
      gap: 20px;
    }

    @media (max-width: 769px) {
      grid-template-rows: repeat(2, 235px);
      gap: 15px;
    }

    @media (max-width: 645px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, 335px);
    }

    @media (max-width: 545px) {
      grid-template-rows: repeat(3, 235px);
    }

    @media (max-width: 420px) {
      grid-template-rows: repeat(3, 185px);
    }

    @media (max-width: 325px) {
      grid-template-rows: repeat(3, 155px);
    }
  }

  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 769px) {
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      background: linear-gradient(
        180deg,
        transparent 23%,
        rgba(7, 44, 38, 0.5) 100%
      );
      width: 100%;
      height: 196px;
      bottom: 0;
      z-index: 2;
      transition: height 0.3s;

      @media (max-width: 769px) {
        height: 96px;
      }

      @media (max-width: 445px) {
        height: 62px;
      }
    }

    &:hover:before {
      height: 100%;
      transition: height 0.3s;
    }
  }

  &__title {
    position: absolute;
    bottom: 27px;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 30px;
    line-height: 0.96;
    color: #fff;
    z-index: 3;
    padding: 0 10px;

    @media (max-width: 1040px) {
      font-size: 25px;
    }

    @media (max-width: 769px) {
      font-size: 20px;
    }

    @media (max-width: 645px) {
      font-size: 15px;
    }

    @media (max-width: 405px) {
      font-size: 12px;
      word-wrap: break-word;
    }
  }
}
