.user {
  &__order {
    &Products {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0 5px;
    }

    &Image {
      width: 90px;
      height: 99px;
    }
  }
}
