.user {
  &__summary {
    border-top: 1px solid #e6e8e7;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;

    @media screen and (max-width: 480px) {
      padding-bottom: 20px;
    }

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0 20px;

      & > span:first-child {
        font-size: 22px;
        font-weight: 600;
        color: #a1a1a1;

        @media screen and (max-width: 480px) {
          font-size: 20px;
        }

        @media screen and (max-width: 375px) {
          font-size: 18px;
        }
      }

      & > span:last-child {
        font-weight: 700;

        @media screen and (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
  }
}
