.intro {
  background-image: url("../../assets/intro/background.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
  overflow-x: hidden;

  &__inner {
    display: flex;
    height: 100%;
  }

  &__content {
    width: 55%;

    @media (max-width: 785px) {
      width: 50%;
    }

    @media (max-width: 325px) {
      width: 40%;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
        width: 55%;
    }
  }

  &__title {
    font-size: 100px;
    line-height: 0.75;
    font-family: "Comfortaa", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 232px;
    position: relative;
    min-width: 676px;

    @media (max-width: 1430px) {
      font-size: 90px;
    }

    @media (max-width: 1240px) {
      font-size: 80px;
      min-width: 623px;
    }

    @media (max-width: 1080px) {
      font-size: 75px;
    }

    @media (max-width: 940px) {
      font-size: 70px;
      min-width: 563px;
    }

    @media (max-width: 850px) {
      font-size: 65px;
    }

    @media (min-height: 1024px) {
      padding-top: 316px;
    }

    @media (max-height: 805px) {
      padding-top: 182px;
    }

    @media (max-height: 745px) {
      padding-top: 155px;
    }

    @media (max-width: 785px) {
      //   padding-top: 192px;
      font-size: 60px;
      min-width: 463px;
    }

    @media (max-width: 660px) {
      font-size: 50px;
      min-width: 403px;
    }

    @media (max-width: 550px) {
      font-size: 45px;
      min-width: 383px;
    }

    @media (max-width: 460px) {
      font-size: 40px;
      min-width: 353px;
      padding-top: 116px;
    }

    @media (max-width: 370px) {
      font-size: 35px;
      min-width: 323px;
    }

    @media (max-width: 325px) {
      font-size: 30px;
      min-width: 313px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      font-size: 45px;
      padding-top: 102px;

      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(150deg, #fff 10%, transparent 91%);
      bottom: -42px;

      @media (max-width: 850px) {
        bottom: -29px;
      }

      @media (max-width: 785px) {
        bottom: -23px;
      }

      @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
        display: none;
      }
    }
  }

  &__label {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 140px;
    text-transform: uppercase;
    font-family: "Comfortaa", sans-serif;
    text-align: right;
    max-width: 686px;
    font-weight: 300;
    z-index: 1;

    @media (max-width: 1430px) {
      font-size: 120px;
    }

    @media (max-width: 1075px) {
      font-size: 120px;
    }

    @media (max-width: 895px) {
      font-size: 100px;
      max-width: 490px;
    }

    @media (max-width: 800px) {
      font-size: 90px;
      max-width: 420px;
    }

    @media (max-width: 660px) {
      font-size: 80px;
    }

    @media (max-width: 600px) {
      display: none;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      display: none;
    }
  }

  &__table {
    position: absolute;
    bottom: 0;
    right: 20%;
    transform: translateX(-20%);
  }

  &__slider {
    width: 493px;
    height: 100vh;

    @media (max-height: 805px) {
      width: 436px;
    }

    @media (max-height: 725px) {
      width: 336px;
    }

    @media (max-width: 1030px) {
      width: 416px;
    }

    @media (max-width: 785px) {
      width: 316px;
    }
  }

  &__slider div {
    height: 100%;
  }

  &__slider > div {
    overflow-x: hidden;
    z-index: 10;
    position: relative;
  }

  &__item {
    position: relative;
  }

  &__distiller {
    width: 493px;
    height: 828px;
    z-index: 10;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-height: 805px) {
      width: 416px;
      height: 728px;
    }

    @media (max-height: 725px) {
      width: 316px;
      height: 574px;
    }

    @media (max-width: 1030px) {
      width: 416px;
      height: 678px;
    }

    @media (max-width: 785px) {
      width: 316px;
      height: 574px;
    }

    @media (max-width: 660px) {
      width: 286px;
      height: 504px;
    }

    @media (max-width: 660px) {
      width: 286px;
      height: 504px;
    }

    @media (max-width: 460px) {
      width: 249px;
      height: 385px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      width: 249px;
      height: 385px;
    }
  }

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    @media (max-width: 550px) {
        display: none;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      display: none;
    }
  }

  &__info {
    padding-top: 100px;

    @media (max-width: 1480px) {
      padding-top: 85px;
    }

    @media (max-width: 1280px) {
      padding-top: 75px;
    }

    @media (max-width: 1080px) {
      padding-top: 65px;
    }

    @media (max-width: 880px) {
      padding-top: 50px;
    }

    @media (max-width: 785px) {
      padding-top: 41px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      padding-top: 30px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 40px;
    width: 100%;

    @media (max-width: 1260px) {
      font-size: 45px;
    }

    @media (max-width: 1080px) {
      font-size: 40px;
    }

    @media (max-width: 920px) {
      font-size: 35px;
    }

    @media (max-width: 785px) {
      font-size: 30px;
      line-height: 1.2;
      padding-bottom: 25px;
    }

    @media (max-width: 550px) {
      font-size: 25px;
    }

    @media (max-width: 375px) {
      font-size: 23px;
      padding-bottom: 15px;
    }

    @media (max-width: 325px) {
      font-size: 20px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      font-size: 20px;
    }
  }

  &__price {
    font-size: 30px;
    display: flex;
    max-width: 327px;
    justify-content: space-between;

    @media (max-width: 1080px) {
      font-size: 27px;
    }

    @media (max-width: 785px) {
      font-size: 24px;
      width: 244px;
    }

    @media (max-width: 550px) {
      font-size: 20px;
      width: 199px;
    }

    @media (max-width: 375px) {
      font-size: 16px;
      width: 155px;
    }

    span {
      font-weight: 800;
    }
  }

  &__button {
    animation-name: heartbeatButton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
    margin-top: 41px;

    &:hover {
      animation-play-state: paused;
    }

    @media (max-width: 785px) {
      margin-top: 43px;
    }

    @media (max-width: 375px) {
      margin-top: 59px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      margin-top: 29px;
    }
  }

  &__dots {
    padding-top: 71px;

    @media (min-height: 1024px) and (min-width: 1200px) {
      padding-top: 207px;
    }

    @media (min-height: 1300px) and (min-width: 900px) {
      padding-top: 200px;
    }

    @media (max-height: 639px) {
      padding-top: 50px;
    }

    @media (max-height: 600px) and (min-width: 630px) and (max-width: 1000px) {
      display: none;
    }
  }

  &__dots > div > div {
    gap: 0 10px;
  }

  &__dot {
    display: block;
    background: #fff;
    width: 12px;
    height: 12px;
    font-size: 0;
  }
}

.slick-slide.slick-current {
  background: red;
}

.arrow-prev,
.arrow-next {
  position: absolute;
  top: 50%;

  @media (max-width: 1575px) {
    display: none;
  }
}

.arrow-prev {
  left: -1px;
  padding: 10px 25px 10px 34px;
  border: 1px solid #fff;
}

.arrow-next {
  right: -1px;
  padding: 10px 34px 10px 25px;
  border: 1px solid #fff;
}

@keyframes heartbeatButton {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1);
  }
}
