.footer {
  background: url("../../assets/navBack.jpg") center/cover no-repeat;
  width: 100%;
  height: auto;
  overflow: hidden;

  &__inner {
    display: flex;
    gap: 0 50px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    font-size: 16px;
    line-height: 1.34;
    color: #adadad;
    padding: 24px 0 21px;
    max-width: 175px;
  }

  &__politics {
    font-size: 16px;
    line-height: 1.34;
    text-decoration: underline;
    color: #fff;
    letter-spacing: 1.2px;
  }

  &__right {
    display: flex;
    gap: 0 70px;
    align-items: flex-start;
  }

  &__list {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.34;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 0.96;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }

    &-social {
      transition: all 0.3s;
    }

    &-social:hover {
      opacity: 0.8;
      transition: all 0.3s;
    }

    &-social svg path {
      fill: #fff;
    }
  }

  &__social {
    display: flex;
    gap: 0 18px;
    align-items: center;
  }
}

.logo {
  width: 175px;
  height: 47px;
}
