.order {
  &__product {
    display: grid;
    gap: 20px 30px;
    grid-template-columns: 90px auto;
    grid-template-areas:
      "product-img product-name"
      "product-img product-details";
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e6e8e7;
    width: 428px;

    img {
      width: 90px;
      height: 99px;
    }

    &Element:nth-child(1) {
      grid-area: product-img;
    }

    &Element:nth-child(2) {
      grid-area: product-name;
      height: fit-content;

      h3 {
        font-weight: 800;
        font-size: 16px;
        line-height: 1.32;
        text-transform: uppercase;
      }

      @media screen and (max-width: 460px) {
        align-self: center;
      }
    }

    &Details {
      grid-area: product-details;
      display: flex;
      gap: 0 15px;
      justify-content: space-between;

      & > span:first-child {
        font-weight: 500;
        line-height: 1.32;
        text-transform: uppercase;
      }

      & > span:last-child {
        font-weight: 800;
        line-height: 1.32;
      }
    }

    @media screen and (max-width: 1030px) {
      width: calc(100% - 18px);
    }

    @media screen and (max-width: 460px) {
      grid-template-areas:
        "product-img product-name"
        "product-details product-details";
      gap: 21px 15px;
    }
  }
}
