.order {
  &__promo {
    margin: 40px 30px 0;
    display: flex;
    max-width: 382px;

    @media screen and (max-width: 769px) {
      margin: 40px auto 0;
    }

    &Container {
      @media screen and (max-width: 460px) {
        padding: 0 18px;
      }
    }

    @media screen and (max-width: 460px) {
      max-width: 100%;
      width: 100%;
    }

    label {
      width: 100%;
      min-width: max-content;
      position: relative;

      @media screen and (max-width: 460px) {
        min-width: min-content;
        width: 55%;
      }
    }

    input {
      width: 100%;
      padding: 18px 19px;
      border-left: 1px solid #e6e8e7;
      border-top: 1px solid #e6e8e7;
      border-bottom: 1px solid #e6e8e7;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: #a1a1a1;
      }

      @media screen and (max-width: 460px) {
        padding: 18px 11px;
      }
    }

    &Btn {
      padding: 18px 22px !important;
      font-size: 14px !important;
      width: fit-content !important;

      @media screen and (max-width: 460px) {
        max-width: 45% !important;
        width: min-content !important;
        padding: 18px 22px !important;
      }
    }
  }

  &__message {
    position: absolute;
    font-size: 13px;
    margin-top: 5px;
    color: #f84147;
  }
}

.loader {
  position: absolute;
  margin-top: 30px;
}
