.order {
  &__auth {
    background-color: #e6e8e7;
    position: relative;
    overflow: hidden;
    margin-bottom: 46px;

    & > img {
      position: absolute;
      right: 15px;
      bottom: -15px;
      z-index: 0;
    }

    @media screen and (max-width: 769px) {
      margin-bottom: 62px;
    }

    @media screen and (max-width: 375px) {
      margin-bottom: 45px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    padding: 20px 24px;

    @media screen and (max-width: 1350px) {
      align-items: flex-start;
      flex-direction: column;
      gap: 20px 10px;
    }

    @media screen and (max-width: 1030px) {
      flex-direction: row;
      align-items: center;
    }

    @media screen and (max-width: 769px) {
      gap: 21px 20px;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    gap: 0 22px;
    align-items: center;

    & > div:first-child {
      padding: 22px 24px;
      border-radius: 50%;
      background-color: #fff;
      width: fit-content;
      height: fit-content;

      @media screen and (max-width: 769px) {
        padding: 17px 17.5px;
        width: 60px;
        height: 60px;

        svg {
          width: 26px !important;
          height: 26px !important;
        }
      }
    }

    & > div:last-child {
      p:first-child {
        font-weight: 800;
        font-size: 18px;
        line-height: 1.12;
        padding-bottom: 13px;

        @media screen and (max-width: 500px) {
          font-size: 16px;
        }
      }

      p:last-child {
        font-size: 14px;
        line-height: 1.32;

        @media screen and (max-width: 500px) {
          max-width: 185px;
          margin: 0 auto;
        }
      }
    }

    @media screen and (max-width: 769px) {
      gap: 0 20px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 15px 0;

      p {
        text-align: center;
      }
    }
  }

  &__right {
    display: flex;
    gap: 27px;

    @media screen and (max-width: 880px) {
      flex-direction: column;
      gap: 12px 10px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__link {
    display: block;
  }

  &__right > &__link:last-child > button {
    border: 1px solid #031412;
    font-weight: 800;
    font-size: 16px;
    padding: 16px 0 17px;
    width: 186px;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__btn {
    max-width: 186px !important;

    @media screen and (max-width: 600px) {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}
