.product {
  &__main {
    padding-top: 27px;
  }

  &__top {
    display: flex;
    gap: 30px;
  }

  &__container {
    height: 622px !important;
    max-width: 565px !important;

    img {
      height: 100%;
    }
  }
}
