.button {
  background: linear-gradient(150deg, #5e3928 0%, #e4a16f 91.15%);
  color: #fff;
  width: 327px;
  padding: 16px 0 17px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s;

  @media (max-width: 785px) {
    width: 244px;
  }

  @media (max-width: 550px) {
    width: 199px;
  }

  @media (max-width: 375px) {
    width: 155px;
    font-size: 16px;
  }
}