.path {
  font-size: 18px;
  line-height: 1.22;
  color: #031412;

  & > * {
    padding-right: 3px;
  }

  & > *:last-child {
    padding-right: 0;
  }

  &__page {
    font-weight: 800;

    &-active {
      font-weight: 400 !important;

      &:hover {
        text-decoration: underline;
      }
    }

    &-item {
      font-weight: 800;
      pointer-events: none;
    }
  }

  &__main:hover {
    text-decoration: underline;
  }

  @media (max-width: 375px) {
    font-size: 16px;
  }
}
