.product {
  &__item {
    max-width: 447px;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: -40px;
  }

  &__badge {
    position: absolute;
    padding: 9px 18px;
    background-color: #9b0000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    top: 27px;
    left: 0;

    @media (max-width: 769px) {
      top: 20px;
    }
  }

  &__image {
    width: 100%;
    height: 491px;
    transition: all 0.2s;
    display: block;
    object-fit: cover;

    &:hover {
      box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.15);
      transition: all 0.2s;
    }

    @media (max-width: 1200px) {
      height: 390px;
    }

    @media (max-width: 1050px) {
      height: 340px;
    }

    @media (max-width: 940px) {
      height: 290px;
    }

    @media (max-width: 769px) {
      height: 390px;

      &:hover {
        box-shadow: none;
      }
    }

    @media (max-width: 645px) {
      height: 335px;
    }

    @media (max-width: 545px) {
      height: 285px;
    }

    @media (max-width: 475px) {
      height: 460px;
    }

    @media (max-width: 380px) {
      height: 390px;
    }

    @media (max-width: 340px) {
      height: 360px;
    }
  }

  &__content {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 5px;

    @media (max-width: 769px) {
      padding-top: 28px;
    }
  }

  &__name {
    max-width: 250px;
    font-size: 20px;
    line-height: 1.1;

    @media (max-width: 1210px) {
      max-width: 200px;
    }

    @media (max-width: 880px) {
      font-size: 17px;
    }

    @media (max-width: 769px) {
      font-size: 20px;
      max-width: 230px;
    }

    @media (max-width: 555px) {
      font-size: 17px;
      max-width: 150px;
    }

    @media (max-width: 475px) {
      font-size: 25px;
      max-width: 230px;
    }

    @media (max-width: 380px) {
      font-size: 20px;
      max-width: 230px;
    }
  }

  &__price {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1.5px;
    text-align: right;

    @media (max-width: 1300px) {
      font-size: 20px;
      min-width: 84px;
    }

    @media (max-width: 880px) {
      font-size: 17px;
      min-width: 64px;
    }

    @media (max-width: 769px) {
      font-size: 20px;
      min-width: 84px;
    }

    @media (max-width: 555px) {
      font-size: 17px;
      min-width: 64px;
      font-weight: 500;
      letter-spacing: -2px;
    }

    @media (max-width: 475px) {
      font-size: 25px;
      min-width: 96px;
      font-weight: 600;
      letter-spacing: -1.5px;
    }

    @media (max-width: 380px) {
      font-size: 20px;
      min-width: 76px;
      font-weight: 500;
      letter-spacing: -2px;
    }
  }

  &__sale {
    position: relative;
    min-width: 86px;
    text-align: right;

    &-old {
      font-weight: 300;
      font-size: 20px;
      opacity: 0.3;
      position: absolute;
      right: 0;
      top: -24px;
      text-align: right;
      min-width: 96px;

      @media (max-width: 880px) {
        font-size: 15px;
        min-width: 64px;
        top: -20px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 95px;
        height: 1px;
        transform: rotate(14deg);
        background: #031412;
        opacity: 0.3;
        bottom: 8px;
        left: 0;

        @media (max-width: 555px) {
          width: 65px;
        }
      }
    }

    &-new {
      font-size: 25px;
      font-weight: 600;
      letter-spacing: -1.5px;
      line-height: 0.96;
      color: #9b0000;

      @media (max-width: 1300px) {
        font-size: 20px;
        min-width: 84px;
      }

      @media (max-width: 880px) {
        font-size: 17px;
        min-width: 64px;
      }

      @media (max-width: 769px) {
        font-size: 20px;
        min-width: 84px;
      }

      @media (max-width: 555px) {
        font-size: 17px;
        min-width: 64px;
        font-weight: 500;
        letter-spacing: -2px;
      }

      @media (max-width: 475px) {
        font-size: 25px;
        min-width: 96px;
        font-weight: 600;
        letter-spacing: -1.5px;
      }

      @media (max-width: 380px) {
        font-size: 20px;
        min-width: 76px;
        font-weight: 500;
        letter-spacing: -2px;
      }
    }
  }

  &__imgContainer {
    position: relative;
  }

  &__navlink {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;

    &-active {
      opacity: 1;
      visibility: visible;
      transition: 0.4s;
    }
  }

  &__navBtn {
    width: 100%;
    
    
    z-index: 100;
  }
}

.product__favorite {
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 50px;
  height: 63px;
  z-index: 100;

  &:after {
    background-image: url('data:image/svg+xml;utf8,%3Csvg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clipPath="url(%23clip0_23_420)"%3E%3Cpath d="M21.8749 2.39624C20.4674 2.41813 19.0905 2.81106 17.8834 3.53533C16.6763 4.2596 15.6816 5.28958 14.9999 6.52124C14.3182 5.28958 13.3236 4.2596 12.1165 3.53533C10.9094 2.81106 9.53251 2.41813 8.12495 2.39624C5.88112 2.49373 3.76708 3.47531 2.24468 5.12653C0.722272 6.77775 -0.0847403 8.9644 -5.21373e-05 11.2087C-5.21373e-05 16.8925 5.98245 23.1 10.9999 27.3087C12.1202 28.2502 13.5366 28.7663 14.9999 28.7663C16.4633 28.7663 17.8797 28.2502 18.9999 27.3087C24.0174 23.1 29.9999 16.8925 29.9999 11.2087C30.0846 8.9644 29.2776 6.77775 27.7552 5.12653C26.2328 3.47531 24.1188 2.49373 21.8749 2.39624ZM17.3937 25.3962C16.7237 25.9605 15.8759 26.2699 14.9999 26.2699C14.124 26.2699 13.2762 25.9605 12.6062 25.3962C6.1837 20.0075 2.49995 14.8375 2.49995 11.2087C2.4145 9.62714 2.95791 8.0759 4.01165 6.89336C5.0654 5.71083 6.54399 4.99293 8.12495 4.89624C9.7059 4.99293 11.1845 5.71083 12.2382 6.89336C13.292 8.0759 13.8354 9.62714 13.7499 11.2087C13.7499 11.5403 13.8816 11.8582 14.1161 12.0926C14.3505 12.327 14.6684 12.4587 14.9999 12.4587C15.3315 12.4587 15.6494 12.327 15.8838 12.0926C16.1182 11.8582 16.2499 11.5403 16.2499 11.2087C16.1645 9.62714 16.7079 8.0759 17.7617 6.89336C18.8154 5.71083 20.294 4.99293 21.8749 4.89624C23.4559 4.99293 24.9345 5.71083 25.9882 6.89336C27.042 8.0759 27.5854 9.62714 27.4999 11.2087C27.4999 14.8375 23.8162 20.0075 17.3937 25.3912V25.3962Z" fill="%23031412"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_23_420"%3E%3Crect width="30" height="30" fill="white"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
    content: "";
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: 0.2s;
  }

  &:hover:after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8834 1.53533C19.0905 0.811057 20.4674 0.418134 21.875 0.39624C24.1188 0.493729 26.2328 1.47531 27.7552 3.12653C29.2777 4.77775 30.0847 6.9644 30 9.20874C30 14.8925 24.0175 21.1 19 25.3087C17.8797 26.2502 16.4633 26.7663 15 26.7663C13.5367 26.7663 12.1202 26.2502 11 25.3087C5.98248 21.1 -2.16197e-05 14.8925 -2.16197e-05 9.20874C-0.0847098 6.9644 0.722303 4.77775 2.24471 3.12653C3.76711 1.47531 5.88115 0.493729 8.12498 0.39624C9.53254 0.418134 10.9094 0.811057 12.1165 1.53533C13.3236 2.2596 14.3183 3.28958 15 4.52124C15.6817 3.28958 16.6763 2.2596 17.8834 1.53533Z" fill="url(%23paint0_linear_35_404)"/><defs><linearGradient id="paint0_linear_35_404" x1="7.573" y1="-6.39264" x2="29.851" y2="-5.41773" gradientUnits="userSpaceOnUse"><stop stop-color="%235E3928"/><stop offset="0.911458" stop-color="%23E4A16F"/></linearGradient></defs></svg>');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
  }
}

.product__favorite.product__favorite-chosen:after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8834 1.53533C19.0905 0.811057 20.4674 0.418134 21.875 0.39624C24.1188 0.493729 26.2328 1.47531 27.7552 3.12653C29.2777 4.77775 30.0847 6.9644 30 9.20874C30 14.8925 24.0175 21.1 19 25.3087C17.8797 26.2502 16.4633 26.7663 15 26.7663C13.5367 26.7663 12.1202 26.2502 11 25.3087C5.98248 21.1 -2.16197e-05 14.8925 -2.16197e-05 9.20874C-0.0847098 6.9644 0.722303 4.77775 2.24471 3.12653C3.76711 1.47531 5.88115 0.493729 8.12498 0.39624C9.53254 0.418134 10.9094 0.811057 12.1165 1.53533C13.3236 2.2596 14.3183 3.28958 15 4.52124C15.6817 3.28958 16.6763 2.2596 17.8834 1.53533Z" fill="url(%23paint0_linear_35_404)"/><defs><linearGradient id="paint0_linear_35_404" x1="7.573" y1="-6.39264" x2="29.851" y2="-5.41773" gradientUnits="userSpaceOnUse"><stop stop-color="%235E3928"/><stop offset="0.911458" stop-color="%23E4A16F"/></linearGradient></defs></svg>');
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 10px;
  width: 30px;
  height: 30px;
}
