.modal {
  &__title {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 50px;
    padding-bottom: 25px;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }

    @media screen and (max-width: 550px) {
      font-size: 30px;
      padding-bottom: 15px;
    }
  }

  &__message {
    font-size: 25px;
    text-align: center;
    padding-bottom: 25px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }

    @media screen and (max-width: 550px) {
      font-size: 18px;
      padding-bottom: 15px;
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 25px;

    @media screen and (max-width: 550px) {
      padding-bottom: 15px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
